logs
*.log
*.csv
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/Release
node_modules/
jspm_packages/
dist/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env*
key/
files/
*.mp4
*.jpg
*.png
yarn.lock
*.zip
yarn.lock
exel/file*
prisma/migrations/
test.ts
